<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bloco ENDQP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Rock Music Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<!--// css -->
<!-- gallery -->
<link type="text/css" rel="stylesheet" href="{% static 'css/cm-overlay.css' %}" />
<!-- //gallery -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- animation -->
<link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'js/wow.min.js' %}"></script>
	<script>
		 new WOW().init();
	</script>
<!-- //animation --> 

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
	{% if is_valid %}
	<script>alert("Mensagem enviada com sucesso!");</script>
	{% endif %}
	<!-- banner -->
	<div class="banner jarallax">
		<div class="agileinfo-dot">
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="agileits-logo">
								<h1><a href="">ENDQP</a></h1>
							</div>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav>
								<ul class="nav navbar-nav">
									<li class="active"><a href="index.html">Início</a></li>
									<li><a href="#about" class="scroll">Sobre</a></li>
									<li><a href="#events" class="scroll">Fotos</a></li>
									<li><a href="#team" class="scroll">Premiações</a></li>
									<li><a href="#mail" class="scroll">Contato</a></li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
			<div class="w3layouts-banner-info">
				<div class="container">
					<div class="w3ls-text">
						<h2>E N D Q P</h2>
					</div>
					<div class="w3-arrow bounce animated">
						<a href="#indro" class="scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- introduction -->
	<div class="introduction" id="indro">
		<div class="container">
			<div class="w3l-heading">
				<h3>Introdução</h3>
				<div class="w3ls-border"> </div>
			</div>
			<div class="introduction-info">
				<p>Tudo teve início quando um grupo de amigos de Lagoinha, denominado "Os Galácticos", decidiu criar seu próprio bloco carnavalesco. Com uma proposta bem simples, o primeiro passo foi decidir o nome, o segundo, a logomarca, e, o último, a confecção dos abadás. à princípio, o nome era "Bloquinho beija eu", entretanto, após muitos debates e opiniões, surgiu a atual e oficial denominação, a "Eu nunca disse que prestava".</p>
			</div>
		</div>
	</div>
	<!-- //introduction -->
	<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="w3l-heading about-heading">
				<h3>Sobre nós</h3>
				<div class="w3ls-border about-border"> </div>
			</div>
			<div class="agileits-about-grids">
				<div class="about-grids">
					<div class="col-md-6 about-grid">
						<div class="col-xs-3 about-grid-left">
							<span class="glyphicon glyphicon-glass effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 about-grid-right">
							<h4>Open Bar</h4>
							<p>Oferecemos Open Bar de cerveja, drinks tropicais e rodadas de tequila.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 about-grid">
						<div class="col-xs-3 about-grid-left">
							<span class="glyphicon glyphicon-cutlery effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 about-grid-right">
							<h4>Feijoada Liberada</h4>
							<p>Feijoada do Restaurante Delícias da Maria liberado para todos.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="about-grids1">
					<div class="col-md-6 about-grid">
						<div class="col-xs-3 about-grid-left">
							<span class="glyphicon glyphicon-camera effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 about-grid-right">
							<h4>Fotógrafo Profissional</h4>
							<p>Dispomos de um fotógrafo profissional para registrar os melhores momentos dos foliões</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 about-grid">
						<div class="col-xs-3 about-grid-left">
							<span class="glyphicon glyphicon-music effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 about-grid-right">
							<h4>Música sem parar</h4>
							<p>Paredão com os melhores hits do ano até a Praça de Lagoinha.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- Sobre Lagoinha -->
	<!-- <div class="introduction" id="indro">
		<div class="container">
			<div class="w3l-heading">
				<h3>Sobre a Praia de Lagoinha</h3>
				<div class="w3ls-border"> </div>
			</div>
			<div class="introduction-info">
				<div class="col-lg-6">
					<img src="{% static 'images/lagoinha.png' %}" />
				</div>
				<div class="col-sm-6" align="left">
					<br />
					<br />
					<p>Localizada a 124 quilômetros de Fortaleza, próxima a Paracuru, a praia da Lagoinha é com certeza um dos cartões postais do Ceará. Com 15 Km de extensão, sua paisagem é composta de uma larga faixa de areia fina e escura , lagoas de água doce, coqueiros e um mar verde de deixar qualquer um de boca aberta.</p><br/>
					<p>Em uma das extremidades da Lagoinha se encontra a paisagem mais bela desta praia, e talvez de todo o Ceará. Entre duas dunas avermelhadas, repletas por coqueiros em meio à encosta, a praia faz uma espécie de meia-lua que desemboca em arrecifes no mar.</p><br/>
					<p>Quem visita a Lagoinha tem certeza que esta é a praia dos sonhos. Uma paisagem de cinema contracena com jangadas e um povo muito tranquilo e feliz.</p><br/>
					<p>A praia possui boas opções de hotéis e restaurantes, e recentemente foi inaugurado o maior resort brasileiro especializado no público gls. Para os que procuram uma melhor estrutura , a opção é ficar em Fortaleza e conhecer as praias de buggue.</p>
				</div>
			</div>
		</div>
	</div> -->	
	<!-- gallery -->
	<div class="gallery" id="events">
		<div class="container">
			<div class="w3l-heading">
				<h3>FOTOS DOS EVENTOS</h3>
				<div class="w3ls-border"> </div>
			</div>
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">Lagoinha</a></li>
						<li role="presentation"><a href="#learning" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">Pré in Icaraí</a></li>
						<li role="presentation"><a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">Desfile</a></li>
						<li role="presentation"><a href="#painting" role="tab" id="painting-tab" data-toggle="tab" aria-controls="painting">Concentração</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
							<div class="w3_tab_img">
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g34.png' %}">
										  <figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g34.png' %}" alt=" " class="img-responsive" />
										  </figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Jangada</h5>
										<p>Passeios</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g35.png' %}">
										  <figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g35.png' %}" alt=" " class="img-responsive" />
										  </figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Sunset</h5>
										<p>Pôr do Sol</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g36.png' %}">
										  <figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g36.png' %}" alt=" " class="img-responsive" />
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g37.png' %}">
										  <figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g37.png' %}" alt=" " class="img-responsive" />
										</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g38.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g38.png' %}" alt=" " class="img-responsive" />
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g39.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g39.png' %}" alt=" " class="img-responsive" />
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g40.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g40.png' %}" alt=" " class="img-responsive" />
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g41.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g41.png' %}" alt=" " class="img-responsive" />
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>

								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="learning" aria-labelledby="learning-tab">
							<div class="w3_tab_img">
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g24.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g24.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g25.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g25.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g26.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g26.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g28.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g28.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g29.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g29.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g30.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g30.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g31.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g31.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g32.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g32.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="playing" aria-labelledby="playing-tab">
							<div class="w3_tab_img">
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g5.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g5.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Maecenas</h5>
										<p>Blandit</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g6.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g6.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Sodales</h5>
										<p>Vivamus</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g7.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g7.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Vivamus</h5>
										<p>Eleifend</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g8.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g8.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Maecenas</h5>
										<p>Blandit</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g9.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g9.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Maecenas</h5>
										<p>Blandit</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g10.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g10.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Maecenas</h5>
										<p>Blandit</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g42.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g42.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Maecenas</h5>
										<p>Blandit</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g43.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g43.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Maecenas</h5>
										<p>Blandit</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="painting" aria-labelledby="painting-tab">
							<div class="w3_tab_img">
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g12.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g12.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Morbi</h5>
										<p>Ornare </p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g14.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g14.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g16.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g16.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Donec</h5>
										<p>Vulputate</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g17.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g17.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Donec</h5>
										<p>Vulputate</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g21.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g21.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Donec</h5>
										<p>Vulputate</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g22.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g22.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Donec</h5>
										<p>Vulputate</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g23.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g23.png' %}" alt=" " class="img-responsive">
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Donec</h5>
										<p>Vulputate</p>
									</div>
								</div>
								<div class="col-sm-3 w3_tab_img_left">
									<div class="demo">
										<a class="cm-overlay" href="{% static 'images/g33.png' %}">
											<figure class="imghvr-shutter-in-out-diag-2"><img src="{% static 'images/g33.png' %}" alt=" " class="img-responsive" />
											</figure>
										</a>
									</div>
									<div class="agile-gallery-info">
										<h5>Cras</h5>
										<p>Pulvinar</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
			</div>
			<script src="{% static 'js/jquery.tools.min.js' %}"></script>
			<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
			<script src="{% static 'js/jquery.cm-overlay.js' %}"></script>
			<script>
				$(document).ready(function(){
					$('.cm-overlay').cmOverlay();
				});
			</script>
		</div>
	</div>
	<!-- //gallery -->
	<!-- team -->
	<div class="team jarallax" id="team">
		<div class="team-dot">
			<div class="container">
				<div class="w3l-heading about-heading">
					<h3>Premiações do Desfile</h3>
					<div class="w3ls-border about-border"> </div>
				</div>
				<div class="agileits-team-grids">
					<div class="col-md-3 agileits-team-grid">
						<div class="team-info">
							<img src="{% static 'images/t1.jpg' %}" alt="" />
							<div class="team-caption"> 
								<h4>Mateus Sales</h4>
								<p>Melhor Fantasia - 1º Lugar</p>
								<ul>
									<li><a href="https://www.facebook.com/matheus.salles.9028"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.instagram.com/teus.sales/"><i class="fa fa-instagram"></i></a></li>
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits-team-grid">
						<div class="team-info">
							<img src="{% static 'images/t2.jpg' %}" alt="" />
							<div class="team-caption"> 
								<h4>Débora Sameque</h4>
								<p>Musa do Bloco ENDQP - 2º Lugar</p>
								<ul>
									<li><a href="https://www.facebook.com/debora.sameque"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.instagram.com/deborasameque/"><i class="fa fa-instagram"></i></a></li>
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits-team-grid">
						<div class="team-info">
							<img src="{% static 'images/t3.png' %}" alt="" />
							<div class="team-caption"> 
								<h4>Eudes Oliveira</h4>
								<p>Rei Momo - 2º Lugar</p>
								<ul>
									<li><a href="https://www.facebook.com/jeudesoliveirafilho"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.instagram.com/eudesoliveiraf/"><i class="fa fa-instagram"></i></a></li>
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits-team-grid">
						<div class="team-info">
							<img src="{% static 'images/t4.png' %}" alt="" />
							<div class="team-caption"> 
								<h4>Layara Feitosa</h4>
								<p>Rainha - 2º Lugar</p>
								<ul>
									<li><a href="https://www.facebook.com/profile.php?id=100005978716393"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.instagram.com/layarafeitosa/"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- news -->
<!--  -->
	<!-- //news -->
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title">Rock Music</h4>
						<h5>24 Sept 2017</h5>
					</div> 
					<div class="modal-body">
					<div class="agileits-w3layouts-info">
						<img src="{% static 'images/1.jpg' %}" alt="" />
						<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- contact -->
	<div class="contact" id="mail">
		<div class="container">
			<div class="w3l-heading about-heading">
				<h3>Fique ligado!</h3>
				<div class="w3ls-border about-border"> </div>
			</div>
			<div class="introduction-info contact-info">
				<p>Durante o ano realizamos eventos para os foliões do Bloco ENDQP, deixe seu e-mail para deixarmos você ligado de todas as atrações do evento durante o ano, afinal, você nunca disse que prestava, né!!</p>
			</div>
		</div>
	</div>
	<div class="contact-form">
		<div class="col-md-4 contact-form-left">
			<h5>Nossa Localização</h5>
			<div class="address-grids">
				<div class="address-grid">
					<div class="address-icon">
						 <i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>	
					<div class="address-info">
						<p> Lagoinha
							Ceará,
							Brasil.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="address-grid">
					<div class="address-icon">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>	
					<div class="address-info">
						<p>85 98742-9061</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="address-grid">
					<div class="address-icon">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>	
					<div class="address-info">
						<p><a href="mailto:matheussalles40@gmail.com">matheussalles40@gmail.com</a></p>
					</div>
					<br />
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-8 contact-form-right">
			<h5>Formulário de contato</h5>
			<div class="contact-form-grid">
				<form action="#" method="post">
					{% csrf_token %}
					<div class="fields-grid">
						{% for field in form %}
						<div class="styled-input agile-styled-input-top">
							{{ field.label_tag }}
							{{ field }}
							{% if field.errors %}
								<ul class="errorlist" >
									{% for error in field.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
					<input type="submit" value="ENVIAR">
				</form>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //contact -->
	<!-- footer -->
	<footer>
		<div class="container">
			<p>© 2018 . EU NUNCA DISSE QUE PRESTAVA | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
		</div>
	</footer>
	<!-- //footer -->
	<script src="{% static 'js/jarallax.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script src="{% static 'js/responsiveslides.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>	
</html>